# +++++++++++++++++++++++++++++++++++++++++++
# title     Lumio - Git Ignore Pattern      +
# project   lumio                           +
# file      .gitignore                      +
# version   1.1.0                           +
# author    Arctic Ice Studio               +
# email     development@arcticicestudio.com +
# copyright Copyright (C) 2015-2016         +
# created   2015-04-02 10:17 UTC+0100       +
# modified  2016-03-28 17:04 UTC+0200       +
# +++++++++++++++++++++++++++++++++++++++++++
#
# [Description]
# Git dotfile providing file attribute handling for the git-based "Lumio" project.
# Based on the Git Ignore Pattern Dotfile of the "Glacier - Git" project (glacier-git@0.23.0).
#
# [Index]
#   (1) Project Environment
#     (1.0) Arctic Project Structure
#       (1.0.0) Structure Skeleton
#     (1.1) IDE
#       (1.1.0) Eclipse
#       (1.1.1) IntelliJ IDEA
#     (1.2) IDE Packages/Plugins/AddOns
#       (1.2.0) Atom
#     (1.3) Build Tool
#       (1.3.0) Node.js
#       (1.3.1) Bower
#       (1.3.2) Apache Ant
#       (1.3.2) Apache Maven 3
#     (1.4) Pre-Processor
#       (1.4.0) Sass
#   (2) Archives
#     (2.0) Packing-Only
#       (2.0.0) Unix
#     (2.1) Compression
#       (2.1.0) Unix
#       (2.1.1) Windows
#     (2.2) Package Management
#       (2.2.0) Unix
#       (2.2.1) Windows
#       (2.2.2) OSX
#     (2.3) Language Specific
#       (2.3.0) Java
#   (3) Operating System
#       (3.0.0) Unix
#       (3.0.1) Windows
#       (3.0.2) OSX
#   (4.0) Languages
#     (4.0.0) Java
#     (4.0.1) JavaFX
#   (5) Application
#     (5.0) Documentation
#       (5.0.0) LibreOffice
#   (6) Version Control System
#     (6.0) git
#     (6.1) SVN
#     (6.2) Mercurial
#   (7) Project Specific Configuration
#     (7.0) Arctic Project Structure
#       (7.0.0) Structure Skeleton
#
# [Dependencies]
# Development
#   Engines
#     - git@2.*.* (http://git-scm.com)
#   Skeletons
#     - glacier-git@0.23.0 (https://github.com/arcticicestudio/glacier-git)
#
# [Copyright]
# Copyright (C) 2015-2016 Arctic Ice Studio <development@arcticicestudio.com>
#
# [References]
# Git Documentation
#   (http://git-scm.com/docs/gitignore)
# Glacier Git
#  (https://github.com/arcticicestudio/glacier-git)

# +----------------------------------------------------------------------------+
# + Project Environment                                                    [1] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - Arctic Project Structure                       [1.0] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - Arctic Project Structure - Structure Skeleton [1.0.0]+
# +----------------------------------------------------------------------------+
build/
lib/
src/scratch/
# +--------------------------------------------------------------------[1.0.0]-+
# +----------------------------------------------------------------------[1.0]-+

# +----------------------------------------------------------------------------+
# + Project Environment - IDE                                            [1.1] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - IDE - Eclipse                                [1.1.0] +
# +----------------------------------------------------------------------------+
# Project files ('.project', '.classpath') SHOULD NOT be excluded
# as they contain important settings and informations.
.settings/
*.swp
*.launch
# +--------------------------------------------------------------------[1.1.0]-+

# +----------------------------------------------------------------------------+
# + Project Environment - IDE - IntelliJ IDEA                          [1.1.1] +
# +----------------------------------------------------------------------------+
# Project files ('*.xml'/'.ipr') SHOULD NOT be excluded as they contain
# important settings and informations.

# [Default Directory Structure]
out/

# [Directory-Based Format]
# Uncomment for multiuser projects!

# > User
.idea/dictionaries/
.idea/shelf
.idea/tasks.xml
.idea/workspace.xml

# > Application Data
.idea/copyright/

# > Sensitive Data
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dynamic.xml
.idea/sqlDataSources.xml
.idea/uiDesigner.xml

# > Plugins
# = Gradle =
.idea/libraries

# = Mongo Explorer =
.idea/mongoSettings.xml

# = Atlassian JIRA =
atlassian-ide-plugin.xml

# = Crashlytics =
crashlytics.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
fabric.properties

# [File-Based Format (Legacy)]
# Uncomment for multiuser projects!

# > User
#.iws
# +--------------------------------------------------------------------[1.1.1]-+
# +----------------------------------------------------------------------[1.1]-+

# +----------------------------------------------------------------------------+
# + Project Environment - IDE Packages/Plugins/AddOns                    [1.2] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - IDE Packages/Plugins/AddOns - Atom           [1.2.0] +
# +----------------------------------------------------------------------------+
.imdone/
# +--------------------------------------------------------------------[1.2.0]-+
# +----------------------------------------------------------------------[1.2]-+

# +----------------------------------------------------------------------------+
# + Project Environment - Build Tool                                     [1.3] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - Build Tool - Node.js                         [1.3.0] +
# +----------------------------------------------------------------------------+
node_modules/
npm-debug.log*
.npm/
# +--------------------------------------------------------------------[1.3.0]-+

# +----------------------------------------------------------------------------+
# + Project Environment - Build Tool - Bower                           [1.3.1] +
# +----------------------------------------------------------------------------+
bower_components/
.bower-cache/
.bower-registry/
.bower-tmp/
# +--------------------------------------------------------------------[1.3.1]-+

# +----------------------------------------------------------------------------+
# + Project Environment - Build Tool - Apache Ant                      [1.3.2] +
# +----------------------------------------------------------------------------+
build-secure.properties
.ant-targets-build.xml
# +--------------------------------------------------------------------[1.3.2]-+

# +----------------------------------------------------------------------------+
# + Project Environment - Build Tool - Apache Maven 3                  [1.3.3] +
# +----------------------------------------------------------------------------+
target/
# +--------------------------------------------------------------------[1.3.3]-+
# +----------------------------------------------------------------------[1.3]-+

# +----------------------------------------------------------------------------+
# + Project Environment - Pre-Processor                                  [1.4] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Environment - Pre-Processor - Sass                         [1.4.0] +
# +----------------------------------------------------------------------------+
.sass-cache/
*.css.map
# +--------------------------------------------------------------------[1.4.0]-+
# +----------------------------------------------------------------------[1.4]-+
# +------------------------------------------------------------------------[1]-+

# +----------------------------------------------------------------------------+
# + Archives - Packing-Only                                              [2.0] +
# +----------------------------------------------------------------------------+
*.bin
*.img
*.iso
# +----------------------------------------------------------------------------+
# + Archives - Packing-Only - Unix                                     [2.0.0] +
# +----------------------------------------------------------------------------+
*.tar
# +--------------------------------------------------------------------[2.0.0]-+
# +----------------------------------------------------------------------[2.0]-+

# +----------------------------------------------------------------------------+
# + Archives - Compression                                               [2.1] +
# +----------------------------------------------------------------------------+
*.lzma
*.zip
# +----------------------------------------------------------------------------+
# + Archives - Compression - Unix                                      [2.1.0] +
# +----------------------------------------------------------------------------+
*.bzip
*.bz2
*.gz
*.tar.*
*.tgz
*.xz
# +--------------------------------------------------------------------[2.1.0]-+

# +----------------------------------------------------------------------------+
# + Archives - Compression - Windows                                   [2.1.1] +
# +----------------------------------------------------------------------------+
*.7z
*.cab
*.rar
# +--------------------------------------------------------------------[2.1.1]-+
# +----------------------------------------------------------------------[2.1]-+

# +----------------------------------------------------------------------------+
# + Archives - Package Management                                        [2.2] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Archives - Package Management - Unix                               [2.2.0] +
# +----------------------------------------------------------------------------+
*.deb
*.rpm
# +--------------------------------------------------------------------[2.2.0]-+

# +----------------------------------------------------------------------------+
# + Archives - Package Management - Windows                            [2.2.1] +
# +----------------------------------------------------------------------------+
*.egg
*.msi
*.msm
*.msp
# +--------------------------------------------------------------------[2.2.1]-+

# +----------------------------------------------------------------------------+
# + Archives - Package Management - OSX                                [2.2.2] +
# +----------------------------------------------------------------------------+
*.dmg
# +--------------------------------------------------------------------[2.2.2]-+
# +----------------------------------------------------------------------[2.2]-+

# +----------------------------------------------------------------------------+
# + Archives - Language Specific                                         [2.3] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Archives - Language Specific - Java                                [2.3.0] +
# +----------------------------------------------------------------------------+
*.jar
*.war
*.ear
# +--------------------------------------------------------------------[2.3.0]-+
# +----------------------------------------------------------------------[2.3]-+

# +----------------------------------------------------------------------------+
# + Operating System                                                     [3.0] +
# +----------------------------------------------------------------------------+
*.log
log.*
*.bak
# +----------------------------------------------------------------------------+
# + Operating System - Unix                                            [3.0.0] +
# +----------------------------------------------------------------------------+
*.pid
*~
# +--------------------------------------------------------------------[3.0.0]-+

# +----------------------------------------------------------------------------+
# + Operating System - Windows                                         [3.0.1] +
# +----------------------------------------------------------------------------+
Thumbs.db
Desktop.ini
# +--------------------------------------------------------------------[3.0.1]-+

# +----------------------------------------------------------------------------+
# + Operating System - OSX                                             [3.0.2] +
# +----------------------------------------------------------------------------+
.DS_Store
._*
.Spotlight-V100
.Trashes
.Trash-*/
# +--------------------------------------------------------------------[3.0.2]-+
# +----------------------------------------------------------------------[3.0]-+

# +----------------------------------------------------------------------------+
# + Language                                                             [4.0] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Language - Java                                                    [4.0.0] +
# +----------------------------------------------------------------------------+
*.class
# JVM crash logs (http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*
hs_log_pid*
# +--------------------------------------------------------------------[4.0.0]-+

# +----------------------------------------------------------------------------+
# + Language - JavaFX                                                  [4.0.1] +
# +----------------------------------------------------------------------------+
# Binary compiled CSS
*.bss
# +--------------------------------------------------------------------[4.0.1]-+
# +----------------------------------------------------------------------[4.0]-+

# +----------------------------------------------------------------------------+
# + Application - Documentation                                          [5.0] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Application - Documentation - LibreOffice                          [5.0.0] +
# +----------------------------------------------------------------------------+
.~lock.*
# +--------------------------------------------------------------------[5.0.0]-+
# +----------------------------------------------------------------------[5.0]-+

# +----------------------------------------------------------------------------+
# + Version Control System                                                 [6] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Version Control System - git                                         [6.0] +
# +----------------------------------------------------------------------------+
.git
# +----------------------------------------------------------------------[6.0]-+

# +----------------------------------------------------------------------------+
# + Version Control System - SVN                                         [6.1] +
# +----------------------------------------------------------------------------+
.svn
# +----------------------------------------------------------------------[6.1]-+

# +----------------------------------------------------------------------------+
# + Version Control System - Mercurial                                   [6.2] +
# +----------------------------------------------------------------------------+
.hg
# +----------------------------------------------------------------------[6.2]-+
# +------------------------------------------------------------------------[6]-+

# +----------------------------------------------------------------------------+
# + Project Specific Configuration                                         [7] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Specific Configuration - Arctic Project Structure            [7.0] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Project Specific Configuration - Arctic Project Structure -                +
# + Structure Skeleton                                                 [7.0.0] +
# +----------------------------------------------------------------------------+

# +--------------------------------------------------------------------[7.0.0]-+
# +----------------------------------------------------------------------[7.0]-+
# +------------------------------------------------------------------------[7]-+
