# +++++++++++++++++++++++++++++++++++++++++++
# title     Lumio - Git File Attributes     +
# project   lumio                           +
# file      .gitattributes                  +
# version   0.0.0                           +
# author    Arctic Ice Studio               +
# email     development@arcticicestudio.com +
# copyright Copyright (C) 2015-2016         +
# created   2015-04-02 10:17 UTC+0100       +
# modified  2016-03-28 17:06 UTC+0200       +
# +++++++++++++++++++++++++++++++++++++++++++
#
# [Description]
# Git dotfile providing file attribute handling for the git-based "Lumio" project.
# Based on the Git  File Attributes Dotfile of the "Glacier - Git" project (glacier-git@0.18.0).
#
# [Index]
#   (1.0) git
#   (2) Text
#     (2.0) Plain
#     (2.1) Markup
#       (2.1.0) Pre-Processor
#       (2.1.1) Template
#     (2.2) Data Structure Representation
#     (2.3) Script
#     (2.4) OOP
#     (2.5) Image
#     (2.6) Application
#       (2.6.0) Bash
#       (2.6.1) Apache Products
#       (2.6.2) Eclipse
#       (2.6.3) Adobe Creative Suite Products
#       (2.6.4) GIMP/Inkscape
#       (2.6.5) Alias/WaveFront
#       (2.6.6) Bower
#       (2.6.7) Node.js
#       (2.6.8) CSSLint
#       (2.6.9) JSLint
#       (2.6.10) EditorConfig
#       (2.6.11) IntelliJ IDEA
#       (2.6.12) Docker
#     (2.7) Web
#       (2.7.0) GitHub
#   (3) Binary
#     (3.0) Document
#       (3.0.0) Microsoft Office Products
#       (3.0.1) LibreOffice
#     (3.1) Image
#     (3.2) Video
#     (3.3) Audio
#     (3.4) Font
#     (3.5) Application
#       (3.5.0) GIMP
#       (3.5.1) Adobe Creative Suite Products
#       (3.5.2) Gpickg
#   (4) Project Specific Configuration
#     (4.0) Text
#       (4.0.0) Plain
#   (5) Project Specific Configuration
#
# [Dependencies]
# Development
#   Engines
#     - git@2.*.* (http://git-scm.com)
#   Skeletons
#     - glacier-git@0.18.0 (https://github.com/arcticicestudio/glacier-git)
#
# [Copyright]
# Copyright (C) 2015-2016 Arctic Ice Studio <development@arcticicestudio.com>
#
# [References]
# Git Documentation
#   (http://git-scm.com/docs/gitattributes)
# Glacier Git
#  (https://github.com/arcticicestudio/glacier-git)

# +----------------------------------------------------------------------------+
# + git                                                                  [1.0] +
# +----------------------------------------------------------------------------+
.gitattributes text eol=lf
.gitconfig text eol=lf
.gitignore text eol=lf

# Automatically perform line feed (LF) normalization for files detected as text
# and leave all files detected as binary untouched.
* text=auto
# +----------------------------------------------------------------------[1.0]-+

# +----------------------------------------------------------------------------+
# + Text - Plain                                                         [2.0] +
# +----------------------------------------------------------------------------+
AUTHORS text eol=lf
CHANGELOG text eol=lf
ISSUES text eol=lf
LICENSE text eol=lf
*.conf text eol=lf
*.dirs text eol=lf
index.theme text eol=lf
*.ini text eol=lf
*.patch text
*.pref text eol=lf
*.properties text eol=lf
*.txt text eol=lf
# +----------------------------------------------------------------------[2.0]-+

# +----------------------------------------------------------------------------+
# + Text - Markup                                                        [2.1] +
# +----------------------------------------------------------------------------+
*.css text eol=lf
*.htm text eol=lf
*.html text eol=lf
*.md text eol=lf
*.php text eol=lf

# +----------------------------------------------------------------------------+
# + Text - Markup - Pre-Processor                                      [2.1.0] +
# +----------------------------------------------------------------------------+
*.sass text eol=lf
*.scss text eol=lf
*.jade text eol=lf
*.less text eol=lf
*.haml text eol=lf
*.styl text eol=lf
# +--------------------------------------------------------------------[2.1.0]-+

# +----------------------------------------------------------------------------+
# + Text - Markup - Template                                           [2.1.1] +
# +----------------------------------------------------------------------------+
*.hb text eol=lf
*.hbs text eol=lf
*.mustache text eol=lf
# +--------------------------------------------------------------------[2.1.1]-+
# +----------------------------------------------------------------------[2.1]-+

# +----------------------------------------------------------------------------+
# + Text - Data Structure Representation                                 [2.2] +
# +----------------------------------------------------------------------------+
*.cson text eol=lf
*.csv text eol=lf
*.epf text eol=lf
*.json text eol=lf
*.ldif text eol=lf
*.xml text eol=lf
*.xmp text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
# +----------------------------------------------------------------------[2.2]-+

# +----------------------------------------------------------------------------+
# + Text - Script                                                        [2.3] +
# +----------------------------------------------------------------------------+
*.bash text eol=lf
*.bat text
*.cmd text
*.coffee text eol=lf
*.ejs text eol=lf
*.js text eol=lf
*.pl text eol=lf
*.py text eol=lf
*.rb text eol=lf
*.sh text eol=lf
*.sql text eol=lf
# +----------------------------------------------------------------------[2.3]-+

# +----------------------------------------------------------------------------+
# + Text - OOP                                                           [2.4] +
# +----------------------------------------------------------------------------+
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.java text eol=lf
# +----------------------------------------------------------------------[2.4]-+

# +----------------------------------------------------------------------------+
# + Text - Image                                                         [2.5] +
# +----------------------------------------------------------------------------+
*.svg text eol=lf
*.xpm text eol=lf
# +----------------------------------------------------------------------[2.5]-+

# +----------------------------------------------------------------------------+
# + Text - Application                                                   [2.6] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Text - Application - Bash                                          [2.6.0] +
# +----------------------------------------------------------------------------+
.bashrc text eol=lf
.profile text eol=lf
# +--------------------------------------------------------------------[2.6.0]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Apache Products                               [2.6.1] +
# +----------------------------------------------------------------------------+
# ===============
# = HTTP Server =
# ===============
.htaccess text eol=lf
# +--------------------------------------------------------------------[2.6.1]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Eclipse                                       [2.6.2] +
# +----------------------------------------------------------------------------+
.classpath text eol=lf
.eclipse-dictionary text eol=lf
.project text eol=lf
# +--------------------------------------------------------------------[2.6.2]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Adobe Creative Suite Products                 [2.6.3] +
# +----------------------------------------------------------------------------+
# =================
# = After Effects =
# =================
# Project XML
*.aepx text
# +--------------------------------------------------------------------[2.6.3]-+

# +----------------------------------------------------------------------------+
# + Text - Application - GIMP/Inkscape                                 [2.6.4] +
# +----------------------------------------------------------------------------+
# Color Palette
*.gpl text eol=lf
# +--------------------------------------------------------------------[2.6.4]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Alias/WaveFront                               [2.6.5] +
# +----------------------------------------------------------------------------+
# Material Template Library
*.mtl text
# +--------------------------------------------------------------------[2.6.5]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Bower                                         [2.6.6] +
# +----------------------------------------------------------------------------+
*.bowerrc text eol=lf
# +--------------------------------------------------------------------[2.6.6]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Node.js                                       [2.6.7] +
# +----------------------------------------------------------------------------+
*.npmignore text eol=lf
# +--------------------------------------------------------------------[2.6.7]-+

# +----------------------------------------------------------------------------+
# + Text - Application - CSSLint                                       [2.6.8] +
# +----------------------------------------------------------------------------+
.csslintrc text eol=lf
# +--------------------------------------------------------------------[2.6.8]-+

# +----------------------------------------------------------------------------+
# + Text - Application - JSLint                                        [2.6.9] +
# +----------------------------------------------------------------------------+
.jscsrc text eol=lf
.jshintignore text eol=lf
.jshintrc text eol=lf
# +--------------------------------------------------------------------[2.6.9]-+

# +----------------------------------------------------------------------------+
# + Text - Application - EditorConfig                                 [2.6.10] +
# +----------------------------------------------------------------------------+
.editorconfig text eol=lf
# +-------------------------------------------------------------------[2.6.10]-+

# +----------------------------------------------------------------------------+
# + Text - Application - IntelliJ IDEA                                [2.6.11] +
# +----------------------------------------------------------------------------+
# > Directory-Based Format
.idea/* text

# > File-Based Format (Legacy)
*.iml text eol=lf
.ipr text eol=lf
.iws text eol=lf
# +-------------------------------------------------------------------[2.6.11]-+

# +----------------------------------------------------------------------------+
# + Text - Application - Docker                                       [2.6.12] +
# +----------------------------------------------------------------------------+
Dockerfile text
# +-------------------------------------------------------------------[2.6.12]-+
# +----------------------------------------------------------------------[2.6]-+

# +----------------------------------------------------------------------------+
# + Text - Web                                                           [2.7] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Text - Web - GitHub                                                [2.7.0] +
# +----------------------------------------------------------------------------+
.github/* text eol=lf
CONTRIBUTING.md text eol=lf
ISSUE_TEMPLATE.md text eol=lf
PULL_REQUEST_TEMPLATE.md text eol=lf
CODE_OF_CONDUCT.md text eol=lf
# +--------------------------------------------------------------------[2.7.0]-+
# +----------------------------------------------------------------------[2.7]-+

# +----------------------------------------------------------------------------+
# + Binary - Document                                                    [3.0] +
# +----------------------------------------------------------------------------+
*.pdf binary
*.rtf binary
# +----------------------------------------------------------------------------+
# + Binary - Document - Microsoft Office Products                      [3.0.0] +
# +----------------------------------------------------------------------------+
# ========
# = Word =
# ========
*.doc binary
*.docm binary
*.docx binary
*.dot binary

# =========
# = Excel =
# =========
*.xls binary
*.xlsx binary
*.xlt binary

# ==============
# = PowerPoint =
# ==============
*.pps binary
*.pptm binary
*.ppt binary
*.pptx binary
# +--------------------------------------------------------------------[3.0.0]-+

# +----------------------------------------------------------------------------+
# + Binary - Document - LibreOffice                                    [3.0.1] +
# +----------------------------------------------------------------------------+
# ==========
# = Writer =
# ==========
*.odt binary
*.ott binary
*.fodt binary
*.uot binary

# ========
# = Calc =
# ========
*.ods binary
*.ots binary
*.fods binary
*.uos binary

# ===========
# = Impress =
# ===========
*.odp binary
*.otp binary
*.odg binary
*.fodp binary
*.uop binary

# ========
# = Math =
# ========
*.odf binary
*.sxm binary
*.mml binary

# ========
# = Draw =
# ========
*.odg binary
*.otg binary
*.fodg binary
# +--------------------------------------------------------------------[3.0.1]-+
# +----------------------------------------------------------------------[3.0]-+

# +----------------------------------------------------------------------------+
# + Binary - Image                                                       [3.1] +
# +----------------------------------------------------------------------------+
*.bmp binary
*.eps binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.tiff binary
# +----------------------------------------------------------------------[3.1]-+

# +----------------------------------------------------------------------------+
# + Binary - Video                                                       [3.2] +
# +----------------------------------------------------------------------------+
*.flv binary
*.mov binary
*.mp4 binary
# +----------------------------------------------------------------------[3.2]-+

# +----------------------------------------------------------------------------+
# + Binary - Audio                                                       [3.3] +
# +----------------------------------------------------------------------------+
*.mp3 binary
*.wav binary
# +----------------------------------------------------------------------[3.3]-+

# +----------------------------------------------------------------------------+
# + Binary - Font                                                        [3.4] +
# +----------------------------------------------------------------------------+
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
# +----------------------------------------------------------------------[3.4]-+

# +----------------------------------------------------------------------------+
# + Binary - Application                                                 [3.5] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Binary - Application - GIMP                                        [3.5.0] +
# +----------------------------------------------------------------------------+
# Project Map
*.xcf binary
# +--------------------------------------------------------------------[3.5.0]-+

# +----------------------------------------------------------------------------+
# + Binary - Application - Adobe Creative Suite Products               [3.5.1] +
# +----------------------------------------------------------------------------+
# Color Swatch Exchange
*.ase binary

# ===============
# = Illustrator =
# ===============
# Project Map
*.ai binary
# Project Map Template
*.ait binary

# =================
# = After Effects =
# =================
# Project Map
*.aep binary
# Project Map Template
*.aet binary
# Render Configuration
*.aom binary

# =============
# = Photoshop =
# =============
*.psd binary
# +--------------------------------------------------------------------[3.5.1]-+

# +----------------------------------------------------------------------------+
# + Binary - Application - Gpick                                       [3.5.2] +
# +----------------------------------------------------------------------------+
# Color Palette
*.gpa binary
# +--------------------------------------------------------------------[3.5.2]-+
# +----------------------------------------------------------------------[3.5]-+

# +----------------------------------------------------------------------------+
# + Arctic Project Structure                                               [4] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Arctic Project Structure - Text                                      [4.0] +
# +----------------------------------------------------------------------------+
# +----------------------------------------------------------------------------+
# + Arctic Project Structure - Text - Plain                            [4.0.0] +
# +----------------------------------------------------------------------------+
# Arctic Structure Skeleton
*.assk text eol=lf
# +--------------------------------------------------------------------[4.0.0]-+
# +----------------------------------------------------------------------[4.0]-+
# +------------------------------------------------------------------------[4]-+

# +----------------------------------------------------------------------------+
# + Project Specific Configuration                                         [5] +
# +----------------------------------------------------------------------------+
# +------------------------------------------------------------------------[5]-+
